# Node dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# React Native / Android
android/.gradle/
android/app/build/
android/build/
*.keystore

# React Native / iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate

# Misc
.expo/
*.log
.env
